{% load blog %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <header class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title"><a href="{% url 'blog:post_list' %}" class="has-text-white">Hogeブログ</a></h1>
        <h2 class="subtitle">色々な記事を書いています。</h2>
      </div>
    </div>
  </header>

  <div class="section">
    <div class="container">
      <div class="columns">
        <main class="column is-7">
          {% block content %}{% endblock %}
        </main>
        <aside class="column is-offset-1 is-4">
          {% create_category_and_tag_list %}
          {% create_search_form request %}
        </aside>
      </div>
    </div>
  </div>
</body>
</html>