{% extends 'blog/base.html' %}

{% block content %}
  <article class="box">
    <h1>{{ post.title }}</h1>
    <p>投稿者：{{ post.writer }}</p>
    <p>作成日：{{ post.created_at }}</p>
    <p>更新日：{{ post.updated_at }}</p>
    <p>カテゴリ：{{ post.category }}</p>
    <p>タグ：{% for tag in post.tags.all %}{{ tag }},{% endfor %}</p>
    <hr>
    <div>
      {{ post.text | linebreaks | urlize }}
    </div>
  </article>

  <a href="{% url 'blog:comment_create' post.pk %}" class="button is-primary">コメントする</a>

  <section class="section">
    {% for comment in post.comment_set.all %}
      <div class="box">
        {{ comment | linebreaks | urlize }}
      </div>
    {% endfor %}
  </section>
{% endblock %}